:root {
  --common-main-color: #ff839a;
  --common-font-color: #727071;
}

#ppaeyot {
  --ppayot-gra-color: linear-gradient(#ff839a, #fce8bb);
  --ppayot-index-tab-font-color: #ff839a;
  --ppayot-point-color: #d6264e;
  --ppayot-concept-color-1: #d6264e;
  --ppayot-concept-color-2: #ffe8b5;
  --ppayot-concept-color-3: #ff839a;
  --ppayot-concept-color-4: #1f0082;
  --ppayot-concept-font: "Noto Sans KR", sans-serif;
}

#moviego {
  --moviego-gra-color: linear-gradient(#2c4565, #a33550);
  --moviego-index-tab-font-color: #2c4565;
  --moviego-point-color: #ff0000;
  --moviego-concept-color-1: #ff0000;
  --moviego-concept-color-2: #666;
  --moviego-concept-color-3: #fff;
  --moviego-concept-color-4: #000;
  --moviego-concept-font: "Nanum Gothic", "나눔 고딕", "나눔고딕", sans-serif;
}

#jejuinside {
  --jejuinside-gra-color: linear-gradient(#469e89, #3075bd);
  --jejuinside-index-tab-font-color: #00a088;
  --jejuinside-point-color: #0a75c3;
  --jejuinside-concept-color-1: #0a75c3;
  --jejuinside-concept-color-2: #00a088;
  --jejuinside-concept-color-3: #ff7200;
  --jejuinside-concept-color-4: #727071;
  --jejuinside-concept-font: "Jeju Gothic", "JejuGothicOTF", sans-serif;
}
